body{
    font-size: 16px;
    max-width: 1367px;
    margin: 0 auto;
}

@font-face {
    font-family: "TTNorms"; 
   src: url("font/TTNorms-Medium.otf");
}

*{
    color: #fff;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
    font-family: "TTNorms"; 
}

header{
    position:sticky;
    top: 0;
    margin: 0 48px -46px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px rgb(255, 255, 255, 0.2) solid;
    z-index: 999;
}

.header__logo{
    margin-left: 20px;
}

.header__nav{
    width: 691px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__nav__link{
    list-style: none;
}

.header__tool{
    display: flex;
}

.header__tool_phone{
    margin: 0 20px;
}

.main{
    background-image: url(img/Main_bg.jpg);
    width: 100%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__middle{
    width: 95%;
    justify-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
}
.main__middle__social{
    transform: rotate(-90deg);
    margin-left: -50px;
}
.main__middle__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 608px;
    height: 316px;
    position: relative;

}
.main__middle__logo__location{
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: #203260;
}
.point{
    width: 31px;
    height: 31px;
    border: 1px #203260 solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.point img{
    
}
.text_box{
   
}
.text_box p{
    color: #203260;
}
 
.video_button{
    position: absolute;
    right: -20px;
    width: 86px;
    height: 86px;
    border: 10px solid #203260;
    border-radius: 50%;
    background: url(img/button_tri.svg) no-repeat center;
}
.video_button::before{
    content: url(img/video_txt.svg);
    position: absolute;
    top: 11px;
    left: -30px;
}
.video_button:hover{
    transform: scale(0.7);
    transition: all 1s ease-in-out;
}
.video_button:hover:before{
    display: none;
}

.main__button_box{
   width: 90%;
   justify-self: end;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.main__button{
    background-color: #6289D9;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__button__middle{
    width: 40px;
    height: 40px;
    box-shadow:
       0 0 0 7px rgb(98, 137, 217, 0.3),
       0 0 0 14px rgb(98, 137, 217, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__button__middle:hover{
    box-shadow:none;
}
.main__button:first-child,
.main__button__link{
    padding: 0 20px;
}

.modal{
    max-width: 540px !important;
    padding: 48px !important;
}
.modal__wrap{
    display: flex;
    flex-direction: column;
}
.modal__title{
    max-width: 238px;
    color: #203260;
    font-size: 23px;
    margin: 45px 200px 31px 0;
}
.modal__label{
    font-size: 12px;
    color: #203260;
}
.modal__input,
option{
    margin-bottom: 14px;
    padding: 17px;
    font-size: 14px;
    color: #203260;
}
.modal__submit{
    background: #203260;
    font-family: "TTNorms";
    font-size: 15px;
    padding: 20px 184px 13px 183px;
}

.sections__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 119px;
}
.sections__nav__item{
    display: flex;
    flex-direction: column;
    color: #203260;
    filter: opacity(0.3);
    border-bottom: 3px solid #B6BECB;
    padding-top: 14px;
    padding-bottom: 35px;
}
.sections__nav__item:hover{
    filter: none;

}

.catalog{
    width: 1110px;
    height: 960px;
    margin: 0 auto;
}

.catalog__box{
    background-color: #F5F8FB;
}

.catalog__box__items{
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog__box__item{
    width: 10%;
    height: 200px;
    color: #203260;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.catalog__box__form{
    width: 1052px;
    height: 514px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.form{
    
}
.catalog__box__form__title,
.form label{
    color: #203260;
}
.form button{
    width: 920px;
    height: 58px;
    background: #203260;
    border:none;
    border-radius: 2px;
}
.catalog__box__form__input{
    width: 445px;
    height: 49px;
    margin: 33px 30px;
}
.team{
    height: 633px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team__title{
    color: #203260;
}
.swiper-container {
    width: 1110px;
    height: 300px;
}
.swiper-slide{
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #F2F5FA;
}
.swiper-slide__img{
    width: 128px;
    height: 128px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide__sport_type{
    color: #6289D9;
    border: #6289D9 1px solid;
    border-radius: 25px;
    padding: 15 25px !important;
    margin-bottom: 20px;
}
.swiper-slide__name{
    color: #203260;
}

.about{
    width: 1366px;
    height: 560px;
    background: #F5F8FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__slider{
 margin-right: 64px;
}
.about__text{
    max-width: 551px;
}

.about__text__sup{
    margin-bottom: 29px;
}
.about__text__sup,
.about__text__middle div{
    color: #203260;
}
.about__text__middle div{
    display: inline-block;
    margin-right: 34px;
}
.about__text__middle{
    margin-bottom: 35px;
}

.about__text__sub{
    color: #3A516A;
}
.news{
    height: 739px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news__item{
    width: 350px;
    height: 432px;
    margin-right: 30px;
    background: #F2F5FA;
    border-radius: 2px; 
    position: relative;
}
.news__item img{
    margin-bottom: 34px; 
}
.news__item__title{
    color: #203260;
    margin-bottom: 10px;
}
.news__item__txt{
    color: #3A516A;
}
.news__item__link{
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.training{
    height: 288px;
    width: 100%;
    background-image: url(img/ball_bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.training__title{
    font-size: 45px;
    line-height: 110%;
    margin-bottom: 15px;
}
.training__text{
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 33px; 
}
.training__button{
    width: 171px;
    height: 50px;
    background: #6289D9;
    border-radius: 60px; 
    font-size: 16px;
    line-height: 19px;
    border: none;
}
.footer{
    position: relative;
    width: 1367px;
    height: 668px;
    background: #203260;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer__contacts{
    width: 1110px;
    height: 361px;   
    display: flex;   
    margin-bottom: 31px;  
}
.footer__contacts__bar{
    width: 427px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1A284D;
    border-radius: 3px;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-left: 42px; 
}
.footer__contacts__map{
    background-image: url(img/map.jpg);
    width: 683px;
    height: 361px;
    position: relative;
}
.footer__contacts__map::after{
    content: url(img/map_point.svg);
    position: absolute;
    top: 44%;
    left: 40.5%

}
.footer__partners{
    width: 1056px;
    display: flex;
    justify-content: space-between;
}


.footer__partners__item:hover{
   filter: brightness(550%);
    
}

.footer__copyright{
    position: absolute;
    left: 127px;
    bottom: 62px;
    color:#8A9BC6;
    font-size: 14px;
}

